.paper_style_control
{
    text-align:center;
    font-size:13px;
}

.paper_brief
{
    background-color:#eeeeee;
    padding:2px;
    margin:2px;
}

.paper_body_normal
{
    padding:4px;
    font-size:16px;
}

.paper_body_smaller
{
    padding:4px;
    font-size:12px;
}
.paper_body_small
{
    padding:4px;
    font-size:14px;
}
.paper_body_big
{
    padding:4px;
    font-size:17px;
}
.paper_body_bigger
{
    padding:4px;
    font-size:18px;
}
.paper_body_bkcolor_white
{
    background-color:#ffffff;
    color:#000000;
}
.paper_body_bkcolor_black
{
    background-color:#000000;
    color:#ffffff;
}
.paper_body_bkcolor_eye
{
    background-color:#ffffbb;
    color:#000000;
}
.paper_body_bkcolor_clear
{
    background-color:#d0ffd0;
    color:#000000;
}