.paper_content
{
    float:left;
    width:690px;
    border-right:1px solid #dddddd;
    margin-left:2px;
    margin-right:1px;
    padding-top:1px;
    background-color:#ffffff;
    word-break:break-all;/* 英文自动换行 */
    line-height:2;/*两倍行距*/
    word-spacing:1px;
    font-family:"Microsoft YaHei", "微软雅黑", SimSun, "宋体";;
    padding-left:1px;
}
.list_item_img
{
    float:left;
    width:120px;
}

.list_item_info
{
    float:left;
    width:560px;
    margin-left:2px;
}

.list_item_page
{
    text-align:center;
    /*border:1px solid #dddddd;*/
}

.paper_list_right
{
    float:right;
    width:300px;
    border-bottom:1px solid #dddddd;
    margin-left:0px;
    margin-right:2px;
}

.paper_list_small
{
    width:100%;
    line-height:20px;
    margin-bottom:2px;
}
.paper_list_small h2
{
    text-indent:2px;
    color:#FFFFFF;
    background:url(/image/global/list/li_head_bg_light.jpg) #ffffff repeat;
    width:100%;
    height:30px;
    line-height:30px;
    font-size:14px;
    border-radius: 6px;
    padding-left:4px;
}

.paper_list_small ul li
{
    height:29px;
    line-height:32px;
    /*border-bottom:1px solid #cccccc;
    border-left:1px solid #cccccc;*/
    border-left:1px solid #ffffff;
    padding-left:14px;
    background:url(/image/global/list/li_bg_block.jpg) no-repeat 2px center;
}

.paper_list_small ul li:hover
{
    /*background:#dddddd;*/
    height:29px;
    line-height:32px;
    /*border-left:1px solid #0000ff;*/
    border-left:1px dashed #0000ff;
    padding-left:14px;
    background:#dddddd url(/image/global/list/li_bg_block.jpg) no-repeat 2px center;
}

.paper_title
{
    text-align:center;
    font-family:微软雅黑;
    font-size:18px;
    font-weight:bold;
    padding-top:8px;
}
.paper_info
{
    text-align:center;
    font-size:12px;
}


.paper_comment_quick
{
    border-bottom:0px solid #dddddd;
    padding-left:140px;
}

.paper_favorite
{
    float:left;
    width:100px;
    height:100px;
    padding-top:30px;
    margin-top:20px;
    margin-bottom:0px;
    text-align:center;
    font-weight:bold;
    font-size:14px;
    background:url(/image/paper/favorite.png) no-repeat;
}
.paper_favorite:hover
{
    float:left;
    width:100px;
    height:100px;
    padding-top:30px;
    margin-top:20px;
    margin-bottom:0px;
    text-align:center;
    font-weight:bold;
    font-size:14px;
    background:url(/image/paper/favoriteh.png) no-repeat;
    color:#ffffff;
    cursor:pointer;
}
.paper_comment_good
{
    float:left;
    width:100px;
    height:100px;
    padding-top:50px;
    margin-left:10px;
    margin-top:0px;
    margin-bottom:0px;
    text-align:center;
    font-weight:bold;
    font-size:14px;
    background:url(/image/paper/good.jpg) no-repeat;
}
.paper_comment_good:hover
{
    float:left;
    width:100px;
    height:100px;
    padding-top:50px;
    margin-left:10px;
    margin-top:0px;
    margin-bottom:0px;
    text-align:center;
    font-weight:bold;
    font-size:14px;
    background:url(/image/paper/goodh.jpg) no-repeat;
    color:#ffffff;
    cursor:pointer;
}
.paper_comment_bad
{
    float:left;
    width:100px;
    height:100px;
    margin-left:10px;
    margin-top:40px;
    padding-top:10px;
    margin-bottom:0px;
    text-align:center;
    font-size:14px;
    background:url(/image/paper/bad.jpg) no-repeat;
}
.paper_comment_bad:hover
{
    float:left;
    width:100px;
    height:100px;
    margin-left:10px;
    margin-top:40px;
    margin-bottom:0px;
    text-align:center;
    font-size:14px;
    background:url(/image/paper/badh.jpg) no-repeat;
    color:#ffffff;
    cursor:pointer;
}
.paper_share
{
    border:1px solid #dddddd;
    margin:2px;
    height:25px;
    padding:4px;
}
.paper_prev_next
{
    padding:4px;
    border:1px solid #dddddd;
    margin:2px;
}

.paper_comment_commit
{
    margin:2px;
    padding:0px 0px 0px 0px;
}
.paper_comment_commit_edit
{
    float:left;
    width:580px;
    height:50px;
    border:1px solid #dddddd;
}
.paper_comment_commit_edit:hover
{
    width:580px;
    height:50px;
    border:1px solid #0000ff;
}
.paper_comment_answer_edit
{
    float:left;
    width:580px;
    height:20px;
    border:1px solid #dddddd;
}
.paper_comment_answer_edit:hover
{
    width:580px;
    height:20px;
    border:1px solid #0000ff;
}
.paper_comment_commit_btn
{
    width:100px;
    height:54px;
    background-color:#dddddd;
}
.paper_comment_commit_btn:hover
{
    width:100px;
    height:54px;
    border:1px solid #0000ff;
    cursor:pointer;
}
.paper_comment_answer_btn
{
    width:80px;
    height:20px;
    background-color:#dddddd;
}
.paper_comment_answer_btn:hover
{
    width:80px;
    height:20px;
    border:1px solid #0000ff;
    cursor:pointer;
}

.paper_comment_list
{
    border:1px solid #dddddd;
    
    margin:2px;
}
.paper_comment_list li
{
    margin: 1px 1px 10px 1px;
    /*border:1px solid #dddddd;*/
    /*background-color:#eeeeee;*/
}
.comment_info
{
    float:left;
    /*border-bottom:1px solid #dddddd;*/
    background-color:#ffffff;
    width:100%;
}
.img_user_head
{
    float:left;
    width:40px;
    height:40px;
}
.img_user_head img
{
    width:100%;
    height:100%;
}
.img_user_level
{
    float:left;
    /*width:40px;
    height:20px;*/
    width:0px;
}
.img_user_level img
{
    width:100%;
    height:100%;
}

.comment_username_time
{
    padding-left:4px;
}

.comment_content_answer_list
{
    margin-top:4px;
    display:block;
}
.comment_content
{
    padding-left:4px;
    /*border-bottom:1px dashed #0000ff;*/
    /*font-weight:bold;*/
}
.comment_answer
{
    text-indent:20px;
    display:block;
    /*border-bottom:1px dotted #0000ff;*/
    line-height:25px;
}
.comment_answer:hover
{
    text-indent:20px;
    display:block;
    /*border-bottom:1px dotted #0000ff;*/
    /*background-color:#88aaff;*/
    line-height:25px;
}

.head_info
{
    /* - 信息头 - */
    font-size:16px;
    font-weight:bold;
    width:100%;
}
.head_bk
{
    background-color:#ffffff;
    padding-left:4px;
}


.hide
{
    display:none;
}
.paper_copyright
{
    color:#0000ff;
    font-family:微软雅黑;
    font-weight:bold;
    padding:4px;
}