/* - 全局样式 - */
*{ 
/*-moz-user-select:none *//*屏蔽火狐选择*/
} 
#body{
    width:1000px;
    margin:0 auto;
    margin-bottom:5px;
    overflow:hidden;
    /*border:1px solid #cccccc;*/
    /*background:#f0f0f0;*/
}
h1,h2,h3,h4,h5,h6,p,ul,li,table,td,tr,select,option,div,span,form,body,html{
  margin:0px;
  padding:0px;
}

input{
  border:1px solid #ffffff;
}
li{
  list-style:none;
}
body {
    line-height: 30px;
    color: #3f4549 !important;
    font-size: 14px;
    font-family: "Microsoft YaHei", "微软雅黑", SimSun, "宋体";;
    /*background: #f0f0f0;*/
    line-height: 25px;
    font-weight: normal;
}
.paper_content a{
    color:#0000ff;
}
.paper_content a:visited{
    color:#8888ee;
}
a,a:visited{
  text-decoration:none;
  color:#474646;
}
a:hover{
 color:#cc0000;
 text-decoration:underline;
}
img{
 border:0px;
 margin:0px;
 padding:0px;
}
.position_cur
{
    /* - 位置导航 - */
    padding-left:2px;
    border-bottom:1px solid #dddddd;
    margin-bottom:2px;
}
.clear
{
    clear:both;
}
.list_item_page
{
    text-align:center;
    border:1px solid #dddddd;
}

.tip
{
    color:#ff0000;
}

/* 返回顶部的样式backtop.css*/
#keyword
{
    height: 18px;
    width: 158px;
}
#home a{
	position:relative;
	width:80px; 
	height:35px;
	color:#000000;
	font-weight:bold;
	margin:0px;
}
#home a:hover{
	background:none;
}

/*returnTop*/
p#back-to-top{
    position:fixed;
    display:none;
    bottom:100px;
    right:80px;
}
p#back-to-top a{
    text-align:center;
    text-decoration:none;
    color:#222222;
    display:block;
    width:64px;
    /*使用CSS3中的transition属性给跳转链接中的文字添加渐变效果*/
    -moz-transition:color 1s;
    -webkit-transition:color 1s;
    -o-transition:color 1s;
    font-size:14px;
}
p#back-to-top a:hover{
    color:#000000;
    font-weight:bold;
    font-size:14px;
}
p#back-to-top a span{
    background:transparent url() no-repeat -25px -290px;
    border-radius:6px;
    display:block;
    height:64px;
    width:56px;
    margin-bottom:5px;
    /*使用CSS3中的transition属性给<span>标签背景颜色添加渐变效果*/
    -moz-transition:background 1s;
    -webkit-transition:background 1s;
    -o-transition:background 1s;
}
#back-to-top a:hover span{
    background:transparent url() no-repeat -25px -290px;
}
.clear
{
    margin-bottom: 0px;
}

/*头部的样式head.css*/
/* - 头部样式 - */

#banner{
    width:1000px;
    overflow:hidden;
    margin:0 auto;
    padding-bottom:2px;
 }
.login_reg
{
    text-align:right;
    width:300px;
    padding-top:15px;
    top:-15px;
    left:61%;
    position:absolute;
    z-index:2;
    font-family:宋体;
    font-size:16px;
    font-weight:bold;
}
/* - 收藏 - */
.head_fav
{
}
/* - 一级菜单 - */
#nav{
    margin:0 auto;
    width:1000px;
    height:40px;
    line-height:40px;
    margin-bottom:5px;
    position:relative;
    background:url(/image/global/menu_bg.jpg) repeat-x;
}
#nav ul li{
    width:91px;
    height:40px;
    float:left;
    text-align:center;
    background:url(/image/global/nav_bg.jpg) no-repeat left center;
    border-top:2px solid #ffffff;  
}
#nav ul li:hover
{
    width:91px;
    height:40px;
    float:left;
    text-align:center;
    border-top:2px solid #9999ff;    
}
#nav #index{
    width:90px;
    float:left;
    background:none;
}
#nav a{
    color:#003366;
    font-size:14px;
    font-weight:bold;
    display:block;
    width:90px;
    height:40px;
}
#nav a:hover{
    color:#cc0000;
    text-decoration:none;
    background:url(/image/global/h2_hover.jpg) no-repeat center 35px;
}
#nav .nav_red a{
    color:#dd0000;
    background:url(/image/global/h2_hover.jpg) no-repeat center 35px;
}

/* - 二级菜单 - */
#unav{
    width:970px;
    padding-left:30px;
    height:40px;
    line-height:40px;
    margin:0 auto;
    /*background:url(/image/head/head_bg.jpg) #dddddd repeat 10px center;*/
    margin-bottom:5px;
    position:relative;
    overflow:hidden;
}
#unav div{
    float:left;
    overflow:hidden;
}
#unav div ul{
    position:absolute;
    height:40px;
    left:-1000px;
}
#unav ul li{
    float:left;
    height:40px;
    line-height:40px;
    *width:110px;
}
#unav a{
    display:block;
    text-align:center;
    /*background:#88aaff;*/
    background:#ffffff;
    border-radius:8px;
    height:20px;
    line-height:20px;
    margin:5px 3px;
    padding:5px 10px;
    color:#000000;
}

/* - 搜索框 - */
.search
{
    text-align:left;
    width:600px;
    height:30px;
    padding-top:120px;
    top:-15px;
    left:57%;
    position:absolute;
    z-index:10;
}
#unav span{
    float:right;
    display:block;
    height:30px;
    width:350px;
    border:0px #cccccc solid;
    margin-top:5px;
    margin-right:3px;
    padding-top:0px;
    background:#faf8f2;
    overflow:hidden;
}

/*广告样式ad/ad.css*/
.ad_paper_block
{
    float:left;
    margin:0px 2px 2px -6px;
    /*background:url(/image/paper/ad_self.jpg) no-repeat center;*/
    width:300px;
    height:300px;
}
.ad_banner
{
    float:left;
    border:1px solid #dddddd;
    width:680px;
    height:100px;
    margin:4px;
}
.ad_block
{
    float:left;
    border:1px solid #dddddd;
    
    width:380px;
    height:300px;
    margin:2px;
}
.ad_paperlist
{
    margin-top:2px;
    margin-bottom:2px;
}
.ad_smalllist
{
    width:300px;
}